<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/main.css"/>
</head>
<body>
<div class="cd-switch">

    <div class="switchUp">
        <h1>
            <p th:text="${userName}+'님의 선택은 !? '"><br></p>
        </h1>
        <p th:text="'         원하는 걸 골라봐요 왼쪽? 오른쪽? 결과는 반영됩니다!         '" style=" width: 1000px;"></p>

        <h2 >
            <p th:text="${question}" style=" width: 1000px;"></p>
        </h2>

        <html>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <body>
        <div class="w3-light-grey">
            <div class="w3-green" th:style="'height:24px;width: ' + ${LeftPercent} + '%'">LEFT</div>
        </div><br>

        <div class="w3-light-grey">
            <div class="w3-red" th:style="'height:24px;width: ' + ${RightPercent} + '%'">RIGHT</div>

        </div><br>
        <div class="w3-container">
            <div class="w3-bar">
                <form action="http://15.165.79.209:8081/leftQuestion" method="get">
                <button class="w3-button w3-left w3-light-grey" type="submit" >&laquo; LEFT!</button>
                </form>

                <form action="http://15.165.79.209:8081/rightQuestion" method="get">
                    <button class="w3-button w3-right w3-green">RIGHT! &raquo;</button>
                </form>
            </div>
        </div>

        </body>
        </html>
    </div>
</div>

</body>
</html>



