<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<link rel="stylesheet" href="all.css" />
<div class="switchUp">
<div class="container">


    <form action="question" method="post">
        <div class="form-group">
            <h2>나의 이름은?</h2>

            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
        </div>
        <button class="w-btn-neon2" type="submit" onclick="location.href='http://localhost:8080/hello'">
        입력 완료
    </button>

    </form>
</div> <!-- /container -->
</div>
</body>
</html>