<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="input.css"/>
</head>
<body>
<div class="switchUp">
    <div class="container">
        <h2>
<p th:text="${id}+'님 안녕하세요!'"><br></p>

 이 페이지는 네이버 부스트캠프에 참가하고 싶은 김연수 개발자가 만든 밸런스게임 페이지 입니다.
            부디 재밌게 플레이해주세요!<br>
        </h2>
<button class="w-btn-neon2" type="button" onclick="location.href='http://localhost:8080/game1.html'">
    START
</button>
</div>
    </div>
</body>
</html>


